<div class="lgnbdd">
	
	<div class="lgnctr">
		<h2>Hello <%= @resource.email %>!</h2>
	</div>
    <div class="clr"></div>
	
	<div class="lgnctr">
		<br />
		Someone has requested a link to change your password. You can do this through the link below.
	</div>
    <div class="clr"></div>
	
	<div class="lgnctr">
		<br />
		<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %>
	</div>
    <div class="clr"></div>
	
	<div class="lgnctr">
		<br />
		If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.
	</div>
    <div class="clr"></div>

</div>